body {
  margin: 0;
  padding: 0;
  font-family: Roboto,Arial, sans-serif;
  background-size: cover;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/techstore.jpeg');
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-15%;
  margin-left: -83%;
  margin-bottom: 5%;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 1rem;
}

.title {
  font-size: 2rem;
  color: black;
}

.login-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  text-align: left;
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.signup-link {
  margin-top: 10px;
}

.signup-link a {
  color: #0000EE;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/techstore.jpeg');
  background-size: cover;
  background-position: center;
  align-items: center;
  height: 100vh;
}

.create-account-box {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.create-account-box h2 {
  margin-bottom: 20px;
}

.create-account-box form {
  display: flex;
  flex-direction: column;
}

.create-account-box label {
  margin-bottom: 5px;
  text-align: left;
}

.create-account-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-account-box button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.create-account-box button:hover {
  background-color: #45a049;
}

.create-account-box p {
  margin-top: 20px;
}

.create-account-box a {
  color: #1a73e8;
  text-decoration: none;
}

.create-account-box a:hover {
  text-decoration: underline;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.error {
  color: red;
  margin-bottom: 1rem;
}
